body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
  color: #07050A;
}

p, .title, .subtitle {
  color: #07050A;
} 

.columns {
  margin: 0;
} 

.column {
  background-color: #e8e8f3;
  padding: 3em 2em;
}

.column:last-child {
  margin-right: 0;
}

.navbar-menu {
  background-color: #07050A;
}

.section, .footer {
  min-height: 100vh;
}

.placeholder-3 {
  color: #8481A3;
  color: #CE9565;
  color: #A88976;
  color: #795547;
  color: #312D3C;
}

.placeholder-4 {
  color: #07050A;
  color: #D99D68;
  color: #474F75;
  color: #312D3C;
  color: #795547;
}

.services > .container > .title {
  font-size: 3em; 
  display: inline-block;
}

a {
  color: #312D3C;
  font-weight: 600;
}

a:hover {
  background-color: rgb(243, 201, 85) !important;
  color: #8481A3 !important;
}

.section > .container {
  padding: 1em;
}

.services .title {
  border-bottom: 2px solid #312d3c; 
  padding-bottom: .5em;
}

.services ul {
  list-style: initial;
  padding-left: 2em;
}

.services .fas {
  font-size: 4em;
  width: 100%;
  text-align: center;
  margin: 0 0 .25em 0;
}

.info > .container {

  background: linear-gradient(to bottom right, #312d3c, #474F75);
}

.info .subtitle {
  border-bottom: 2px solid #f3f3fb;
  padding-bottom: .5em;
}

.info * {
  color: #f3f3fb;
}

.bg-img {
  background-image: url('../images/bg1.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.portfolio {
  background: linear-gradient(to bottom right, #f3f3fb, #ffffff)
}

.contact-cta {
  background: linear-gradient(to right, #474F75, #8481A3);
  padding: 1em;
}

.contact-cta > div > div > p {
  color: #f3f3fb;
}

.footer {
  background: linear-gradient(to bottom right, #312d3c, #474F75);
}

.services {
  background-color: #f3f3fb;
}

.white {
  color: #f3f3fb;
}

.footer .container {
  padding: 3em;
}

.footer .columns {
  background: #f3f3fb;
}

@media screen and (max-width: 1087px) {
  .hero.is-primary .navbar-menu {
    background-color: #312d3c;
  }
}
